---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

* Networks 2021.Virtual Jul 2021
  Asymmetric Coupling of Networks Optimally Accelerates Collective Dynamics
* Fourth Northeast Regional Conference on Complex Systems (NERCCS). Online Apr 2021
  Asymmetric Coupling of Networks Optimally Accelerates Collective Dynamics
* International School and Conference on Network Science (NetSci). Rome, Italy Sep 2020
  Diffusion on Multiplex Networks with Asymmetric Coupling
* Tenth International Conference on Complex Systems (ICCS). Cambridge, MA Jul 2020
  Diffusion on Multiplex Networks with Asymmetric Coupling
* Third Northeast Regional Conference on Complex Systems (NERCCS). Buffalo, NY Apr 2020
  Diffusion on Multiplex Networks with Asymmetric Coupling
* Second Northeast Regional Conference on Complex Systems (NERCCS). Binghamton, NY Apr 2019
  Spectrum Behavior of Laplacian for Multiplex Networks


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
